:root {
  //Font Sizes
  --small-font-size: 1.4rem;
  --default-font-size: 1.6rem;

  //Colours
  --color-black: #232323;
  --color-white: #f5f5f5;
  --color-white-dark: #e5e5e5;

  --dark-color1: #396884;
  --dark-color2: #111628;

  --light-color1: #9cd8c2;
  --light-color2: #78bca7;
  --light-color3: #5dc19c;
  --light-color4: #2ca585;
  --light-color5: #3a9ca5;

  --highlight-color: #eaea77;

  //Shadows
  --dark-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
