.App {
  max-width: 120rem;
  margin: 3rem auto;
  background-color: var(--color-white);
  box-shadow: var(--dark-shadow);

  @include mediaQuery($bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.content {
  display: flex;

  @include mediaQuery($bp-med) {
    flex-direction: column;
  }
}

.change-page {
  font-size: var(--default-font-size);
  margin: 1rem;
  text-align: center;
  border-bottom: 3px solid var(--highlight-color);
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease;
  align-self: flex-end;

  &:hover {
    transform: translateY(-0.5rem);
  }

  &:active {
    transform: translateY(0.5rem);
  }
}
