.header {
  margin-top: 0.4rem;
  height: 10rem;
  background-color: var(--light-color3);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mediaQuery($bp-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }

  &__text-container {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main-title {
    font-size: 4rem;
    &--v {
      color: var(--light-color5);
    }
  }

  &__subtitle {
    font-size: var(--small-font-size);
    background-color: var(--light-color5);
    padding: 0.5rem 1rem;
    border-radius: 4rem;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;

  & > * {
    padding: 0 1.3rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--light-color4);
  }

  &__icon-box {
    position: relative;
  }

  &__notification {
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color5);
    color: var(--color-white);
    position: absolute;
    bottom: 50%;
    right: 60%;
  }

  &__user {
    display: flex;
  }

  &__user-photo {
    height: 5rem;
    width: 5rem;
    clip-path: circle(50%);
  }

  &__username {
    margin-left: 0.6rem;
    font-size: var(--small-font-size);
  }
}
