.rest-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resteraunt {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10px;
  position: relative;
  animation: scaleIn 1s ease;
  font-size: var(--default-font-size);
  overflow: hidden;
  text-align: center;
  background-image: url("../Images/vegan-bg.jpg");
  background-size: cover;

  &__desc {
    position: relative;
    z-index: 1;
    margin-bottom: auto;
    font-style: italic;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--light-color4);
    transition: all 0.2s ease-out;
    opacity: 0.6;
  }

  &__header {
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
    color: var(--light-color4);
  }

  &__info {
    position: relative;
    z-index: 1;
    &--header {
      color: var(--light-color4);
      font-weight: 600;
    }
    &--content {
      text-transform: capitalize;
    }
    &--website {
      padding: 0.5rem 1rem;
      margin: 1rem;
      color: var(--color-white);
      background-color: var(--light-color5);
      font-size: var(--default-font-size);
      border-radius: 10px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &:hover {
    color: var(--color-white);

    &:before {
      width: 100%;
    }
  }

  &:hover &__header {
    color: var(--light-color1);
  }

  &:hover &__info--header {
    color: var(--light-color1);
  }
}
